In [1]:
import os

In [4]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')

In [5]:
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [7]:
!pip install pandas

Looking in indexes: http://mirrors.aliyun.com/pypi/simple
Collecting pandas
  Downloading http://mirrors.aliyun.com/pypi/packages/b3/b3/3102c3a4abca1093e50cfec2213102a1c65c0b318a4431395d0121e6e690/pandas-2.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 20.1 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.7
  Downloading http://mirrors.aliyun.com/pypi/packages/a3/fb/52b62131e21b24ee297e4e95ed41eba29647dad0e0051a92bb66b43c70ff/tzdata-2023.4-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 59.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /root/miniconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /root/miniconda3/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /root/miniconda3/lib/python3.10/site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in /root/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.0 tzdata-2023.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [21]:
import pandas as pd

In [22]:
data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [23]:
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [38]:
inputs, outputs = data.iloc[:,0],data.iloc[:,2]

In [39]:
inputs

0    NaN
1    2.0
2    4.0
3    NaN
Name: NumRooms, dtype: float64

In [40]:
outputs

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [41]:
inputs.mean()

3.0

In [42]:
inputs = inputs.fillna(inputs.mean())

In [43]:
inputs

0    3.0
1    2.0
2    4.0
3    3.0
Name: NumRooms, dtype: float64

In [47]:
inputs = pd.get_dummies(data, dummy_na=True,dtype=int)

In [48]:
inputs

   NumRooms   Price  Alley_Pave  Alley_nan
0       NaN  127500           1          0
1       2.0  106000           0          1
2       4.0  178100           0          1
3       NaN  140000           0          1

In [46]:
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [51]:
import torch
torch.tensor(inputs.values)

tensor([[       nan, 1.2750e+05, 1.0000e+00, 0.0000e+00],
        [2.0000e+00, 1.0600e+05, 0.0000e+00, 1.0000e+00],
        [4.0000e+00, 1.7810e+05, 0.0000e+00, 1.0000e+00],
        [       nan, 1.4000e+05, 0.0000e+00, 1.0000e+00]], dtype=torch.float64)